<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{nombre}} {{a_paterno}} {{a_materno}}</h1>
    <h3>Bienvenido al blog de Peliculas del equipo 6</h3>
    <p>Para completar tu registro: </p>
    <a href="{{url}}:8000/registro/{{clave}}/">{{url}}:8000/registro/{{clave}}/</a>
    <p>Si no te has registrado en nuestra página ignora este mensaje</p>
</body>
</html>